@import "@styles/index.scss";

.add-to-list-button {
    border: 1px solid #333333;
    border-radius: 18px;
    font-size: 20px;
    padding: 4px;

    &:hover {
        background-color: #dddddd;
    }
}