@import "@styles/index";

.lang-container {
  width: fit-content;
  margin: 20px auto;
  padding: 5px;
  background-color: #7facd6;
  border-radius: 15px;
  min-width: 250px;

  h1 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }

  fieldset {
    label {
      padding: 0 0 0 2rem;
      position: relative;
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
    }

    input[type="radio"] + label::before,
    input[type="radio"] + label::after {
      content: "";
      position: absolute;
      border-radius: 50%;
    }

    input[type="radio"] + label::before {
      left: 0.5rem;
      top: 0.2rem;
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border: 0.05rem solid black;
      background: white;
    }

    input[type="radio"]:checked + label::after {
      left: 0.5rem;
      top: 0.2rem;
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border: 0.05rem solid black;
      background: black;
    }

    input[type="radio"]:focus + label::before {
      outline: 0.2rem solid;
      outline-offset: 0.2rem;
    }
  }
}
